.favoritePage {
    padding: 20px 150px ;
    &__title {
      text-align: center;
      margin: 20px 0px;
      margin-bottom: 0px;
      padding: 0px;
    }
}

@media only screen and (max-device-width: 750px) {
  .favoritePage {
    padding:10px;
  }
}
