.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 18px;
  background-color: rgb(17, 17, 16);
  text-decoration: none;
  position: fixed;
  width: 99%;
  z-index: 1; 
  &__favorite {
    color: #dad4ce;
    text-decoration: none;
  }
  &__name {
    color: #ffff;
    padding: 10px;
  }
  &__imghome {
    width: 25px;
    height: 25px;
  }
  &__logout{
    padding-right: 10px;
  }
}

.header__favorite:hover {
  color: rgb(240, 136, 39);
}