
.header_icon {
    height: 333px;
    width: 333px;
    fill: white;
    stroke: none;
  }

  input[type="submit"] {
    display: none;
  }
  
  input[type="submit"] + label {
      width: 6em;
      text-align: center;
      cursor: pointer;
  }
  
  input[type="submit"]:checked + label svg {
      transition: all 300ms ease-in-out;
      fill: rgb(240, 136, 39);
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
  }
  
  label svg {
      width: 35px;
      fill: rgb(167, 167, 167);
  }