.btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px;
  border: none;
  &__black {
    background: rgb(17, 17, 16);
    color: #dad4ce;
  }
}

.btn:hover {
  background: rgb(17, 17, 16);
  border-color: #565e64;
  color: #ffffff;
}
