.btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px;
  border: none;
  cursor: pointer;
  &__black {
    background: rgb(17, 17, 16);
    color: #dad4ce;
  }
  &:hover {
    background: rgb(31, 31, 29);
    border-color: #565e64;
    color: #ffffff;
  }
}
