.menu__toggle {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.363);;
    border-width: 2px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1;
    padding: 4px 15px;  
}

@media only screen and (min-width: 992px) {
    .menu__toggle {
        display: none;
    }
}

.menu__toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

//   label, #content {
//     height: 20px;
//     width: 800px;
//     // margin-botton: 10px;
//     border: 1px solid #fff;
//     display: inline-block;
//   }
  #menu-toggle {
    display: none;
  }
  #menu {
    // background-color: #ffa500;
    width: 780px;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    // -webkit-transition: all 0.3s ease;
  }
  #menu-toggle:checked + #menu {
    max-height: 100px;
  }